.container{
    width:100%;
    text-align: center;
}

.col-sm-4{
    padding-top: 2%;
}

.pic{
    position: relative;
    height: 230px;
    border-radius : 10px;
    box-shadow: 3px 3px 5px black;
    cursor:pointer;
    overflow: hidden;
}

.pic img{
    width:100%;
    height:100%;
    border-radius: 10px;
    transition: .5s;
    margin-bottom: 10px;
    
}

.pic::before{
    content: attr(data-text);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color:whitesmoke;
    font-size: 22px;
    text-align: center;
    font-weight: bold;
    width: 100%;
    margin-top: 100px;
    opacity: 0;
    transition: .3s;
    transition-delay: .2s;
    z-index: 1;
}

.pic::after{
    content:" ";
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    border-radius: 10px;
    height: 0;
    background-color: rgba(0, 0, 0, .4);
    transition: .3s;
    text-align: center;
    font-size: 100%;
    content: attr(data-text);
}



.pic:hover:after{
    height: 100%;
}

.pic:hover:before{
    opacity: 1;
}

.container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
    
}

