body{
  background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(bgpg.jpg);
  background-size: cover;
}

.intro-container {
  box-sizing: border-box;
  width: 60%;
  float: left;
  text-align: center;
  padding: 20px;
}

.fade-in-text {
  opacity: 0;
  animation: fadeIn 2s forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.card {
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.2);
  text-align: center;
  font-family: cursive;
  background-color: rgba(255,255,255,0.75);
  float: left;
  margin-right: 20px;
  margin-bottom: 20px;
  height: 390px;
  width: 270px;
  padding: 20px;
  transition: color .5s ease-in-out, box-shadow .5s ease-in-out;
}

.card:hover{
  background-color: whitesmoke;;
}

.slideshow-container {
  width: 40%;
  float: right;
  padding-top: 32px;
  max-width: 1000px;
  position: relative;
  margin: auto;
  
}

.mySlides {
  display: none;
  text-align: center;
}

.mySlides img {
  border-radius: 10%;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* Creates a background when user hover over the next/prev buttons*/
.prev:hover, .next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.active{
  background-color: #717171;
}

/* Fade animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: .4
  }

  to {
    opacity: 1
  }
}